



.form-iframe-container{
    width: 100%;
    position:relative;
    padding-bottom: calc(90%); 
    margin: 40px 0;
    /* в кальке разрешение видео */
}
.form-iframe{
position: absolute;
top: 0;
left:0;

width: 100%;
height: 100%;
}

// .bottom-ui-bg{
//     display: none !important;
// }

// .slide-label{
//     border:solid red 1px;
// }

// .cs-button{
//     display: none !important;
// }