.chart-27{
    padding:10px 20px;

    @include desktop-sm {
        padding:40px 60px 10px 60px;
    }
}
.chart-28{
    padding:10px 20px;

    @include desktop-sm {
        padding:35px 160px 5px 160px;
    }
}
.chart-20{
    padding:10px 20px;

    @include desktop-sm {
        padding:45px 15px 15px 15px;
    }
}
.chart-21{
    padding:10px 20px;

    @include desktop-sm {
        padding:100px 77px 70px 77px;
    }
}
.chart-22{
    padding:10px 20px;

    @include desktop-sm {
        padding:80px 97px 50px 97px;
    }
}
.chart-23{
    padding:10px 20px;

    @include desktop-sm {
        padding:60px 47px 30px 47px;
    }
}
.chart-24{
    padding:10px 20px;

    @include desktop-sm {
        padding:90px 10px 60px 10px;
    }
}
.chart-26{
    padding:10px 20px;

    @include desktop-sm {
        padding:80px 60px 50px 60px;
    }
}


