.header {
  flex: 1 0 100%;
    .no-icon {
      padding: 20px 30px 30px 55px !important;
    }
    .header__title{
      min-width: auto;
      padding: 20px 70px 20px 90px;
      display: flex;
      align-items: center;
      height: auto;
      flex:0 1 auto;
      align-self: flex-start;
    }

    &__description{
      max-width: 425px;
      margin-left: auto;
    }
    .icon-329 {
      background: url(../images/icons/icon-329.svg);
      background-repeat: no-repeat;
      background-position: 10% 50%;
     
    }
    
}  
