//fonts variables
$font-main: "Nunito Sans", sans-serif;
// $font-main: "Lato", sans-serif;
$font-title: "Montserrat", sans-serif;
$font-size: 16px;

//size-variables
$mobile-sm: 320px;
$mobile-md: 425px;
$mobile-lg: 576px;
$tablet: 768px;
$desktop-sm: 992px;
$desktop-md: 1024px;
$wide-screen-sm: 1280px;
$wide-screen-md: 1360px;
$wide-screen-lg: 1599px;

//color-variables
$color-main: #223458;
$color-bg-accent: #dcf1f9;
$color-description: #bcf4d8;
$color-blueprint: #11a5dc;
$color-text-light: #ffffff;
